# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf
data_please_gitignore/*

# content not for the public
LICENSE
SUMMARY.md

!contexts-and-environments-for-testing
contexts-and-environments-for-testing/*
!contexts-and-environments-for-testing/adaptive-design-sampling-reinforcement-learning.md
!contexts-and-environments-for-testing/ads-google-youtube....md
!contexts-and-environments-for-testing/trial-reporting-template.md

grants-funding-reports-admin/*
legacies-bequests-exploring/*
notes_to_integrate/*
self-aware-experiments-surveys
supplements-and-references
tip-o-the-spear.md


