# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf


data_do_not_commit/tlycs/*


.Rproj.user
data_do_not_commit/oftw/November GivingTuesday Email Series Test_opened_contacts.xlsx
*.pper
data_analysis/.Rproj.user/AF30D38E/pcs/files-pane.pper
data_analysis/.Rproj.user/AF30D38E/pcs/source-pane.pper
data_analysis/.Rproj.user/AF30D38E/pcs/windowlayoutstate.pper
data_analysis/.Rproj.user/AF30D38E/pcs/workbench-pane.pper
data_analysis/.Rproj.user/AF30D38E/sources/prop/15C219FD
data_analysis/.Rproj.user/AF30D38E/sources/prop/6BD654DE
data_analysis/.Rproj.user/AF30D38E/sources/prop/AE6844C6
data_analysis/.Rproj.user/AF30D38E/sources/prop/INDEX
data_analysis/.Rproj.user/shared/notebooks/paths
